html {
	background-color:#FFFFFF ;
	font-family: 'Open Sans', sans-serif;;

}
h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: black;
	background:
	-webkit-text-fill-color: transparent;
}

p{
	font-family: 'Open Sans', sans-serif;
}

h2{
	font-family: 'Open Sans', sans-serif;
	color: #613476;
}

a{
	font-family: 'Open Sans', sans-serif;
}

.button-variant {
	background-color: #AC5FD0;
}

.button-variant-2 {
	background-color: #FF7218;
}

					/*intro welcome to Rooster Grin Strip*/
.intro-strip{
	height: 700px;
	background-image: url("../../front-end-dev-test-assets/hero.jpg")
	/*background-color: #FAFAFA;*/
}

.logo-header {
	padding-top: 33px;
	padding-left: 173px;
}

.logo {
	height: 40px;
}

					/*split intro strip 2*/

.strip-2 {
	height: 526px;

}

.container {
	height: 500px;

}

					/*info banner Strip 3*/

.strip-3 {
	height: 600px;
	background-image: url("../../front-end-dev-test-assets/banner-1.jpg")
	
}

					/*features banner Strip 4*/

.strip-4 {
	height: 600px;
	background-color: #FFFFFF;
	
}

.strip-4 .row{
justify-content: center;

}

#ft-grid{
	background-color: #FAFAFA;
	text-align: center;
}

.feature-img {
	height: 100px;
}

					/*info girl banner strip 5*/

.strip-5 {
	height: 600px;
	background-image: url("../../front-end-dev-test-assets/banner-2jpg")
	
}

					/*testimonial carousel banner (x3*/

.strip-testimonials {
	height: 500px;

}

footer{
	background-color: #FAFAFA;
	height: 70px;
}

.insta-svg {
	background-size: 5px 30px;
}
.fb-svg {
	background-size: 5px 30px;
}
