html {
	background-color: blue;

}

					/*intro welcome to Rooster Grin Strip*/
.intro-strip{
	height: 700px;
	background-image: url("../../front-end-dev-test-assets/hero.jpg")
	/*background-color: #FAFAFA;*/
}

.logo-header {
	padding-top: 33px;
	padding-left: 173px;
}

.logo {
	height: 40px;
}

					/*split intro strip 2*/

.strip-2 {
	height: 526px;

}

.container {
	height: 500px;

}

					/*info banner Strip 3*/

.strip-3 {
	height: 600px;
	background-image: url("../../front-end-dev-test-assets/banner-1.jpg")
	
}

					/*features banner Strip 4*/

.strip-4 {
	height: 600px;
	background-color: #FFFFFF;
	
}

#ft-grid{
	background-color: #FAFAFA;
}

					/*info girl banner strip 5*/

.strip-5 {
	height: 600px;
	background-image: url("../../front-end-dev-test-assets/banner-2jpg")
	
}

					/*testimonial carousel banner (x3*/

.strip-testimonials {
	height: 500px;

}

footer{
	background-color: #FAFAFA;
	height: 70px;
}

.insta-svg {
	background-size: 5px 30px;
}
.fb-svg {
	background-size: 5px 30px;
}
